body{
    margin: 0;
    padding: 0;
    position: relative;
}
#header{
    box-shadow: 0px 6px 5px gray;
}
#header img{
    background-color: rgb(250,252,242);
    height: 150px;
    object-fit: scale-down;
}

table{
    width: 90%;
}

caption{
    caption-side: bottom;
}
tr.content td{
    white-space: pre;
}

.hidden{
    display: none;
}

#modalModifTask{
    position: absolute;
    background-color: rgba(187, 183, 178, 0.96);
    width: 400px;
    height: 200px;
    top: 50%;
    left: calc(50% - 200px);
    padding: 20px;
    z-index: 10;
}