body{
    margin: 0;
    padding: 0;
    position: relative;
}
#header{
    margin-top: -120px;
    height: 380px;
    overflow: hidden;
}

table{
    width: 90%;
}

caption{
    caption-side: bottom;
}
tr.content td{
    white-space: pre;
}

.hidden{
    display: none;
}

#modalModifTask{
    position: absolute;
    background-color: rgb(196, 176, 133);
    width: 400px;
    height: 200px;
    top: 50%;
    left: calc(50% - 200px);
    padding: 20px;
    z-index: 10;
}